* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FF6B6B;
}

img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}